@model IEnumerable<ApplicantDTO>

@{
    ViewData["Title"] = "Applicants";
}
<h1>Applicants</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<button class="btn btn-primary my-5" onclick="handleAdd()">Add Applicant</button>


<partial name="_CreationFormPartial" model="new ApplicantDTO()" />
@if (Model?.Count() > 0)
{
    <div class="flex flex-wrap ">

        <table class="table table-striped table-hover flex-grow-1">
        <thead class="t">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().FamilyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().EmailAdress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CountryOfOrigin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Hired)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAdress)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Hired)
                    </td>


                    <td>
                        <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id" class="mw-100">Details</a> |
                        <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id" class="mw-100">Edit</a> |
                        <form onsubmit="handleDelete(event)" asp-action="Delete" asp-route-id="@item.Id" style="display:inline" class="mw-100">
                            <button class="btn btn-danger">Delete</button>
                        </form>



                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>



}
else
{
    <div>
        <h4 class="alert alert-warning">No Applicants</h4>
    </div>
}


@section ValidationScripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}